<div class="row signin">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
            <p class="signin-title">
                Connexion
                <small class="pull-right motdepasseoublie">
                    <a href="">Mot de passe oublie</a>
                </small>
            </p>
            <form action="">
                <div class="form-group email">
                    <div class="input-group password">
                        <input type="email" class="form-control" id="email" placeholder="Addresse email">
                        <div class="input-group-addon">
                            <span class="icon ion-ios-email"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group password">
                    <div class="input-group password">
                        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        <div class="input-group-addon">
                            <span class="icon ion-key"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default btn-sm btn-block" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</div>