.status textarea{
    font-size: 13px;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px;
    padding-top: 10px;
}

.status thead td{
    padding-bottom: 15px;
}

.status tbody tr td{
    padding-top: 12px !important;
    padding-bottom: 5px;
}

.status button{
    outline: none !important;
    box-shadow: none !important;
    height: 50px;
    border-radius: 0px;
    opacity: 0.7;
    background: #FEFEFE;
}

.status button:hover{
    opacity: 0.6;
}

.status .status-filter input{
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    border: none;
    background: transparent;
    font-family:"Rubik", Ionicons;
    opacity: 0.7;
    text-align: right;
}

.status ul{
    padding: 0px;
}

.status ul li{
    list-style: none;
    display: inline;
}

.status ul li a{
    text-decoration: none;
    color: #838282;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 11px;
}