<nav class="navbar navbar-default">
  <div class="container">
    <div class="col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 logo-column">
            <a [routerLink]="['/']">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="col-lg-9 col-md-9 search-column">
            <input type="text" class="form-control" name="recherche" placeholder=" &#xf4a4; RECHERCHE">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 user-details-column">
            <ul>
                <li>
                    <a href="">
                        <img src="/img/user-1.jpg" alt="user-image">
                    </a>
                </li>
                <li class="Deconnexion">
                    <a href="">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>